h1, h2, h3, h4 {
    color: #33b0c7 !important;
}
h1 a, h2 a, h3 a, h4 a {
    color: #33b0c7 !important;
}

:root {
    --md-primary-fg-color:        #48525d;
    --md-primary-fg-color--light: #33b0c7;
    --md-primary-fg-color--dark:  #d68741;

}

article a {
    text-decoration: underline;
    color: #33b0c7 !important;
}